Host *
   Compression yes
   ForwardX11 yes
   ForwardX11Trusted yes
   ControlMaster auto
   ControlPath ~/.ssh/master-%r@%h\:%p
   HashKnownHosts no

Host gateway
    User root

Host 192.168.1.1
  User root

Host knight.cx
  User steven
