# $Id$ 

#
# Active Projects
# 

# CRMS

# CRMS Nightly Build 
:0
#* ^Subject: .*Build for CRMS on.*
* ^Subject:.*Build Success.*
.Projects.CRMS\ \(Nightly\ Builds\)/

#* ^Subject: .*CRMS Nightly Build for.*
#.CRMS\ Project.CRMS\ Nightly\ Builds/

:0
* ^(To|Cc):.*crms-(dev|devel|web|team)@sr.unh.edu.*
.Projects.CRMS/

:0
* ^From:.*@safety.state.nh.us.*
.Projects.CRMS/

# 
# eSCAT
#

:0
* ^From:.*(ian.j.zelo|Jerry.Muhask|Brianne.Connoly)@noaa.gov.*
.Projects.eSCAT/

#
# ERMA
#

:0
* ^From:.*(Michele.Jacobi|Marla.Steinhoff|Benjamin.Shorr)@noaa.gov.*
.Projects.ERMA/

:0
* ^From:.*TracyR@genwest.com.*
.Projects.ERMA/

# Events

# Events Alarm (I don't need to get this at this point)
:0
* ^(Subject):.*Events Alarm:.*Server Error.*
/dev/null


# Events email
:0
* ^(To|Cc):.*(events|Events)-dev@sr.unh.edu.*
.Projects\ \(Mothballed\).Events/

:0
* ^(To|Cc):.*Events-Dev.*
.Projects\ \(Mothballed\).Events/

:0
* ^(To|Cc):.*paygate-support@sr.unh.edu.*
.Projects\ \(Mothballed\).Events/

# PSMP

# PSMP email
:0
* ^(To|Cc):.*psmp-team@sr.unh.edu.*
.Projects\ (Mothballed).PSMP/
