# $Id: rcc.rc 2649 2009-03-10 12:37:59Z skk $

# RCC emails
# Staff email
:0
* ^(To|Cc):.*(rcc-staff-ops|staff|rcc-staff)@sr.unh.edu.*
.Staff/

# RCI Staff email
:0 
* ^(To|Cc):.*rci-staff@icarus.sr.unh.edu.*
.Staff/

# Ops email
:0
* ^(To|Cc):.*(rcc-ops|ops|rccops|rcc)@(.*)sr.unh.edu.*
.Ops/

:0
* ^(To|Cc):.*(rcc-ops|ops|rccops|rcc)@blackstar.sr.unh.edu.*
.Ops/

:0
* ^(To|Cc):.*(rcc-ops|ops|rccops|rcc)@sr.unh.edu.*
.Ops/

# Email sent to addresses other than the "Ops" addresses above, but still should be put into the .Ops/ maildir.
:0
* ^(To|Cc):.*(machineroom)@(.*)sr.unh.edu.*
.Ops/

# WebAdmin email
:0
* ^(To|Cc):.*web-admin@sr.unh.edu.*
.WebAdmin/

# PAT Related emails
:0
* ^(To|CC):.*PATDistrict8@maple.unh.edu.*
.Staff/

:0
* ^(To|CC):.*PATDistrict8@maple.unh.edu.*
.Staff/

:0
* ^(To|CC):.*pat.council@lists.unh.edu.*
.Staff/


# catch messages from Al's personal email address
:0
* ^From:.*allan.wright@comcast.net.*
{
    :0
    .MaildirInbox/	# to Ops/
}
