# denyhost for zathras, kosh
:0
* ^Subject:.*DenyHosts Report from zathras.*
* ^Subject:.*DenyHosts Report from kosh.*
.Root/

# logwatch for zathras, kosh
:0
* ^Subject:.*Logwatch for kosh.*
* ^Subject:.*Logwatch for zathras.*
.Root/

# save root emails from zathras, kosh, events, lithium
:0
* ^From:.*root@zathras.*
* ^From:.*root@kosh.*
* ^From:.*root@www\.events\.unh\.edu\.*
* ^From:.*root@lithium.*
.Root/

# save alumni_email_log messages
:0
* ^Subject:.*alumni_email_log.*
.Root/

# Delete Host UP/Down alerts
:0
* ^Subject:.*Host UP alert for.*
* ^Subject:.*Host DOWN alert for.*
.Systems.RootDeletable/

# isxcentral emails
:0
* ^From:.*isxcentral@sr.unh.edu.*
/dev/null

# delete all messages from other root emails
:0
* ^From:.*root\@.*
/dev/null

# UNH Admissions
:0
* ^Subject:.*UNH Admissions received your e-mail.*
/dev/null

# just delete DHCP warnings
:0
* ^Subject:.*DHCP Warning.*
/dev/null

# delete all postmaster email :0
* ^To:.*(postmaster).*
/dev/null

# delete all mailer-daemon email
:0
* ^From:.*MAILER-DAEMON.*
/dev/null

# delete logwatch for other systems.
:0
* ^Subject:.*LogWatch for.*
/dev/null

# delete denyhosts for other systems.
:0
* ^Subject:.*DenyHosts Report.*
/dev/null

# delete webcal error messages
:0
* ^Subject:.*web/facilities-dc/htdocs/webcams.*
/dev/null

# Delete MAILER-DAEMON@stella
:0
* ^From:.*MAILER-DAEMON@stella.sr.unh.edu.*
/dev/null

# Delete nagios
:0
* ^From:.*nagios@arpeggi.sr.unh.edu.*
/dev/null
