# $Id: root.rc 2492 2008-06-30 16:41:08Z skk $

# just delete DHCP warnings
:0
* ^Subject: DHCP Warning
/dev/null

# delete all postmaster email
:0
* ^To:.*(postmaster)@.*
/dev/null

# delete all mailer-daemon email
:0
* ^From: .*MAILER-DAEMON.*
.Systems.MailerDaemon/

# delete logwatch for other systems.
:0
* ^Subject: .*LogWatch for (amnesiac|stella|alumni|arpeggi|hollow|myxomatosis|kenyan|morden).*
/dev/null

# delete clamav messages from alumni
:0
* ^Subject:*Cron <root@alumni> /usr/share/clamav/freshclam-sleep.*
/dev/null

# delete cron from arpeggi
:0
* ^Subject:.*Cron <root@arpeggi> run-parts.*
/dev/null

# delete webcal error messages
:0
* ^Subject:.*/web/facilities-dc/htdocs/webcams/.*
/dev/null

# Delete MAILER-DAEMON@stella
:0
* ^From:.*MAILER-DAEMON@stella.sr.unh.edu.*
/dev/null

:0
* ^From:.*[lL]ogwatch.*
.Systems.LogWatch/

:0
* ^From:.*root@.*
.Systems.Root/

:0
* ^Subject:.*Cron.*
.Systems.CronDaemon/

:0
* ^Subject:.*DenyHosts Report*.*
.Systems.DenyHosts/

:0
* ^Subject:.*UNH Admissions received your e-mail.*
/dev/null
