# repo wide
*.pyc
\#*.*\#

# emacs
emacs/.backup/
emacs/.cache/
emacs/elpa
emacs/url
emacs/auto-save-list
emacs/.graphene-geometry

# vim
vim/.netrwhist
vim/doc/*

# fish
fish/fish_history
fish/fishd.*

# symlinks created through install.py script
bin/ew
bin/e
bin/errorlog.sh
bin/accesslog.sh
bin/.eg.git
bin/eg
bin/.xask.git
bin/xask.py
bin/xask
bin/ffind
bin/vimcat
bin/vimpager

# rope-projects
bin/.ropeproject

# procmail
procmail/work/log/*
procmail/home/log/*

# bash-git-prompt
bash/gitprompt.sh
bash/gitstatus.py

# awesome
awesome/lain

# i3
i3/i3log

# mutt
mutt/temp/*

# sublime
dot-files-forest.sublime-workspace

sublime-text-3/Cache/
sublime-text-3/Index/
sublime-text-3/Installed Packages/
sublime-text-3/Local/
sublime-text-3/Packages/User/Package Control.last-run
sublime-text-3/Packages/User/Package Control.ca-list
sublime-text-3/Packages/User/Package Control.ca-bundle
sublime-text-3/Packages/User/Package Control.system-ca-bundle
sublime-text-3/Packages/User/Package Control.cache/
sublime-text-3/Packages/User/Package Control.ca-certs/


#sublime-text-3/Packages/BracketHighlighter
#sublime-text-3/Packages/PyV8/linux64-p3
#sublime-text-3/Packages/SublimeCodeIntel
#sublime-text-3/Packages/SublimeTODO
#sublime-text-3/Packages/Theme - Cobalt2
#sublime-text-3/Packages/i3wm-sublime
