# repo wide
*.pyc
\#*.*\#

# emacs
emacs/.backup/
emacs/.cache/

# vim
vim/.netrwhist
vim/doc/*

# fish
fish/fish_history
fish/fishd.*

# symlinks created through install.py script
bin/ew
bin/e
bin/eg
bin/errorlog.sh
bin/accesslog.sh
bin/xask.py

# rope-projects
bin/.ropeproject

# procmail
procmail/work/log/*
