# repo wide
*.pyc
\#*.*\#

# emacs
emacs/.backup/
emacs/.cache/
emacs/elpa
emacs/url
emacs/auto-save-list
emacs/.graphene-geometry

# vim
vim/.netrwhist
vim/doc/*

# fish
fish/fish_history
fish/fishd.*

# symlinks created through install.py script
bin/ew
bin/e
bin/errorlog.sh
bin/accesslog.sh
bin/.eg.git
bin/eg
bin/.xask.git
bin/xask.py
bin/xask
bin/ffind
bin/vimcat
bin/vimpager

# rope-projects
bin/.ropeproject

# procmail
procmail/work/log/*
procmail/home/log/*

# bash-git-prompt
bash/gitprompt.sh
bash/gitstatus.py

# i3
i3/i3log

# mutt
mutt/temp/*
