[submodule "scm_breeze"]
	path = scm_breeze
	url = git@github.com:ndbroadbent/scm_breeze.git
[submodule "friendly-find"]
	path = friendly-find
	url = git@github.com:sjl/friendly-find.git
[submodule "vimpager"]
	path = vimpager
	url = git@github.com:rkitover/vimpager.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "lain"]
	path = lain
	url = git://github.com/copycat-killer/lain.git
[submodule "zsh-vcs-prompt"]
	path = zsh-vcs-prompt
	url = git@github.com:yonchu/zsh-vcs-prompt.git
[submodule "treesome"]
	path = treesome
	url = git@github.com:RobSis/treesome.git
[submodule "oh-my-fish"]
	path = oh-my-fish
	url = git://github.com/bpinto/oh-my-fish.git
