# Allrecipes
:0
* From:.*email@allrecipes.com.*
.Daily/ # .Allrecipes/

# O'Reilly
:0
* From:.*oreilly@post.oreilly.com.*
.Daily/ # .OReilly/

:0
* From:.morningbell@heritage.org.*
.Daily/ #/ #  .MorningBell/

# knight.cx
:0
* From:.*nobody@localhost.*
.Daily/ # .knightcx/

:0
* From:.*root@knight.cx.*
.Daily/ # .knightcx/

# IBD Editorials
:0
* ^From:.*investors@em.investors.com.*
.Daily/ # .IBDEditorials/

# Twitchy
:0
* ^From:.*updates@twitchymail.com.*
.Daily/ # .Twitchy/

# Todoist
:0
* ^From:.*daily-digest@todoist.com.*
.Daily/ # .Todoist/

# Manning
:0
* From:.*mkt@manning.com.*
.Daily/ # .Manning/

# vim: filetype=procmail syntax=procmail
