:0
* ^From:.*Ddonelan@evergreenmgt.com.*
.HemlockForest/

:0
* ^From:.*Judi.Angelo@executiveproperties.com.*
.HemlockForest/

:0
* ^From:.*cmccarthy@evergreenmgt.com.*
.HemlockForest/

:0
* ^From:.*EHarte10@aol.com.*
.HemlockForest/

:0
* ^From:.*shaf12345@aol.com.*
.HemlockForest/

:0
* ^From:.*sforbes61@yahoo.com.*
.HemlockForest/

:0
* ^From:.*totracym@yahoo.com.*
.HemlockForest/

:0
* ^From:.*jcharrette@evergreenmgt.com.*
.HemlockForest/

:0
* ^From:.*mbrent@evergreenmgt.com.*
.HemlockForest/

:0
* ^From:.*Judi.Angelo@executiveproperties.com.*
.HemlockForest/
