# Jobs

:0
* ^(From):.*ziprecruiter.com.*
.Jobs/

:0
* ^(From):.*jagent-feedback@monster.com.*
.Jobs/

:0
* ^(From):.*jagent@route.monster.com.*
.Jobs/

:0
* ^(From):.*jobalerts@jobserious.com.*
.Jobs/

:0
* ^(From):.*balerts@site.careerbuilder.com.*
.Jobs/

:0
* ^(From):.*JobAlerts@CyberCoders.com.*
.Jobs/

:0
* ^(From):.*alerts@ziprecruiter.com.*
.Jobs/

:0
* ^(From):.*jobs.simplyhired.com.*
.Jobs/

:0
* ^(From):.*noreply@jobmonkeymail.com.*
.Jobs/

:0
* ^(From):.*noreply@glassdoor.com.*
.Jobs/

:0
* ^(From):.*marketing@itjobcafe.com.*
.Jobs/

:0
* ^(From):.*noreply-zr-startwire@ziprecruiter.com.*
.Jobs/

:0
* ^(From):.*noreply@postjobfree.com.*
.Jobs/

:0
* ^(From):.*alerts@jobsreport.com.*
.Jobs/

:0
* ^(From):.*jobplanner@startwire.com.*
.Jobs/

:0
* ^(From):.*info@jobdiagnosis.com.*
.Jobs/

:0
* ^(From):.*alert@startwire.com.*
.Jobs/

:0
* ^(From):.*WindhamProfessionals@jobs.net.*
.Jobs/

# vim: filetype=procmail syntax=procmail
