# $Id: lists.rc 2671 2009-04-28 13:41:49Z skk $

# ---- 9/12 Project ----
:0 
* (To|Cc):.*rochester-912-project-list@meetup.com.* 
.Mailing\ Lists.Rochester-912-Project/
# ---- 9/12 Project ----

# ---- Python Mailing Lists ---
# Python User
:0
* (To|Cc):.*python-list@python.org.*
.Mailing\ Lists.Python\ User/

# Python Mode
:0
* (To|Cc):.*python-mode@python.org.*
.Mailing\ Lists.Python\ Mode/

# Python Devel
:0
* (To|Cc):.*python-dev@python.org.*
.Mailing\ Lists.Python\ Dev/

# Python Ideas
:0
* (To|Cc):.*python-ideas@python.org.*
.Mailing\ Lists.Python\ Ideas/
# ---- Python Mailing Lists ---

# ---- Fish Mailing Lists ---
# Fish Users 
:0
* ^(Subject|Sender):.*\[fish-users\].*
.Mailing\ Lists.Fish\ User/
# ---- Fish Mailing Lists ---

# ---- Glenn Beck -----
# Glenn Beck
:0
* ^From:.*Glenn.*Beck.*
.Mailing\ Lists.Glenn\ Beck/


# The Blaze
:0
* ^Subject:.*News from TheBlaze.com.*
.Mailing\ Lists.Glenn\ Beck/

# ---- Glenn Beck -----

# --- GNU Mailing Lists ----
# Help
:0
* (To|Cc):.*help-gnu-emacs@gnu.org.*
.Mailing\ Lists.GNU\ Emacs\ Help/

# Devel
:0
* (To|Cc):.*emacs-devel@gnu.org.*
.Mailing\ Lists.GNU\ Emacs\ Devel/

# Wanderlust
:0
* (To|Cc):.*wl-en@lists.airs.net.*
.Mailing\ Lists.Wanderlust/
# --- GNU Mailing Lists ----
# ----- SymPy ----
:0
* (To|Cc):.*sympy@googlegroups.com.*
.Mailing\ Lists.SymPy/
# ----- SymPy ----

# ----- Clojure ------
:0
* (To|Cc):.*clojure@googlegroups.com.*
.Mailing\ Lists.Clojure/
# ----- Clojure ------

################################################################################
# OLD PROCMAIL RULES, NO LONGER USED

# # ----- Flask ------
# :0
# * (To|Cc):.*flask@librelist.[com|org].*
# .Mailing\ Lists.Flask/
# # ----- Flask ------

# # ---- Haskell Cafe Mailing Lists ----
# # Haskell Cafe
# :0
# * (To|Cc):.*haskell-cafe@haskell.org.*
# .Mailing\ Lists.Haskell\ Cafe/
# # ---- Haskell Cafe Mailing Lists ----

# # ---- Debian Mailing Lists ----
# # Debian User
# :0
# * (To|Cc):.*debian-user@lists.debian.org.*
# .Mailing\ Lists.Debian\ User/
# # ---- Debian Mailing Lists ----

# # ---- Awesome User List ----
# :0
# * (To|Cc):.*awesome@naquadah.org.*
# .Mailing\ Lists.Awesome\ User/
# # ---- Awesome User List ----

# # ---- XMonad User List ----
# :0
# * (To|Cc):.*xmonad@haskell.org.*
# .Mailing\ Lists.xmonad/
# # ---- XMonad User List ----

# # -----  Arch Linux ---
# :0
# * (To|Cc):.*arch-general@archlinux.org.*
# .Mailing\ Lists.Arch\ General/

# :0
# * (To|Cc):.*arch-announce@archlinux.org.*
# .Mailing\ Lists.Arch\ Announce/
# # -----  Arch Linux ---
################################################################################
