# $Id: lists.rc 2671 2009-04-28 13:41:49Z skk $

# 
# Mailing Lists
#

# 912 Project
:0
* (To|Cc):.*rochester-912-project-list@meetup.com.*
.Mailing\ Lists.Rochester-912-Project/

# Arch Linux
:0
* (To|Cc):.*arch-general@archlinux.org.*
.Mailing\ Lists.ArchLinux\ General/

# Python User
:0
* (To|Cc):.*python-list@python.org.*
.Mailing\ Lists.Python\ User/

# Python Mode
:0
* (To|Cc):.*python-mode@python.org.*
.Mailing\ Lists.Python\ Mode/

# Python Devel
:0
* (To|Cc):.*python-dev@python.org.*
.Mailing\ Lists.Python\ Dev/

# Python Ideas
:0
* (To|Cc):.*python-ideas@python.org.*
.Mailing\ Lists.Python\ Ideas/

# Fish Users 
:0
* ^(Subject|Sender):.*\[fish-users\].*
.Mailing\ Lists.Fish\ User/

# IBD Editorials
:0
* ^From:.*newsletter@ibdeditorials.com.*
.IBDEditorials/

# Glenn Beck
:0
* ^From:.*Glenn.*Beck.*
.Mailing\ Lists.Glenn\ Beck/

# GNU Emacs Help
:0
* (To|Cc):.*help-gnu-emacs@gnu.org.*
.Mailing\ Lists.GNU\ Emacs\ Help/

# Gnu Emacs Devel
:0
* (To|Cc):.*emacs-devel@gnu.org.*
.Mailing\ Lists.GNU\ Emacs\ Devel/

# GNU Emacs Wanderlust Mailingist
:0
* (To|Cc):.*wl-en@lists.airs.net.*
.Mailing\ Lists.Wanderlust/

# Haskell Cafe
:0
* (To|Cc):.*haskell-cafe@haskell.org.*
.Mailing\ Lists.Haskell\ Cafe/

# Debian User
:0
* (To|Cc):.*debian-user@lists.debian.org.*
.Mailing\ Lists.Debuan\ User/
