:0
* (To|Cc):.*i3-discuss@freelists.org.*
.Mailing\ Lists.i3/

:0
* ^From:.*News.*from.*TheBlaze.*
.Mailing\ Lists.Glenn\ Beck/

:0
* ^From:.*FireWire.*from.*TheBlaze.*
.Mailing\ Lists.Glenn\ Beck/

:0
* ^From:.*email@glennbeck.com.*
.Mailing\ Lists.Glenn\ Beck/

:0
* ^(To|Cc):.*python-list@python.org.*
.Mailing\ Lists.Python\ List/

:0
* ^(To|Cc):.*lua-l@lists.lua.org.*
.Mailing\ Lists.Lua\ Users/

:0
* ^(To|Cc):.*hammerspoon@googlegroups.com.*
.Mailing\ Lists.Hammerspoon\ Users/

:0
* ^(To|Cc):.*elixir-lang-talk@googlegroups.com.*
.Mailing\ Lists.Elixir\ Users/

# vim: filetype=procmail syntax=procmail
