# forward all email through spam daemon
:0fw
| /usr/bin/spamc

# handle spam message
:0
* ^Subject:.*SEXUALLY-EXPLICIT.*
.Junk/

:0
* ^X-Spam-Flag:.*YES.*
.Junk/

:0
* ^X-MailScanner-SpamCheck:spam.*
.Junk/

# vim: filetype=procmail syntax=procmail
