;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Fri Apr 26 15:46:30 2013
;; Desktop file format version 206
;; Emacs version 24.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("sunri" "HLA"))
(setq regexp-search-ring '("highjj" "Student" "section" "Last up" "tex" "EPS" "EPSCOR" "5pt" "Work" "Side" "Programm" "10pt" "hla" "\\_<TUB\\_>" "\\_<tub\\_>" "\\_<facty\\_>"))
(setq register-alist nil)
(setq file-name-history '("/home/skk/4clojure/37.clj" "/home/skk/.emacs.d/lib/setup_ibuffer.el" "/home/skk/.emacs.d/lib/setup_ido.el" "/home/skk/.emacs.d/elpa/graphene-20130331.1436/graphene-projects.el" "/home/skk/4clojure/57.clj" "/home/skk/.emacs.d/lib/setup_appearance.el" "/home/skk/.emacs.d/elpa/birds-of-paradise-plus-theme-20130401.1436/birds-of-paradise-plus-theme.el" "/home/skk/.emacs.d/init.el" "/home/skk/4clojure/37.clj" "/home/skk/resume/resume.tex" "/home/skk/resume/resume_skk.tex" "/home/skk/resume/resume.tex" "/home/skk/.emacs.d/lib/setup_haskell.el" "/home/skk/haskell/doubleMe.hs" "/home/skk/.emacs.d/init.el"))

;; Buffer section -- buffers listed in same order as in buffer list:
